<!doctype html>
<html>
<head>
    <meta charset="utf-8"></meta>

    <script src="../lib/vue.min.js"></script>
    <!--script src="vue-color.min.js"></script-->

    <title>CONE vizualisation</title>

    <style>
    .inlinemirror {
        display: inline-block;
        transform: scale(-1, 1);
    }
    .plotandsets {
        float: left;
        margin-right: 20px;
    }
    .controls {
    }
    .editpoint {
        border: 1px solid black;
    }
    .opaque .shade:not(.highlight) {
        fill: #777777FF !important;
    }
    .withaxes {
        border: 2px solid black;
        border-width: 0 0 2px 2px;
    }
    .withaxes {
        width: 400px;
        height: 400px;
    }
    .point {
        fill: none;
        stroke: black;
        stroke-width: 1;
    }
    .shade {
        fill: #0000007F;
        transition: fill 500ms;
    }
    .shade.highlight {
        fill: #0000FF7F;
    }
    .shade.highlight.left {
        fill: #FF00007F;
    }
    .shade.highlight.right {
        fill: #00FF007F;
    }
    .lowershade {
        fill: #0000002F;
    }
    .details {
        overflow-y: scroll;
        max-height: 300px;
    }
    .sets>a { color: black; }
    .sets>a.currentSet { text-decoration: none; border-bottom: 3px solid red; }
    </style>

</head>
<body>
    <script type="text/x-template" id="tpl-thesvg">
    </script>

    <script type="text/x-template" id="tpl-onepoint">
        <g>
            <rect v-if="highlight" class="point" :x="200*o.t-2" :y="400*(1-o.f)-2" width="4" height="4" stroke="blue" />

            <rect v-if="!highlight" class="point" :x="200*o.t-2" :y="400*(1-o.f)-2" width="4" height="4" stroke="black" />

            <path v-if="p.showCones && !p.leftLine" :class="{shade: true, highlight: highlight}" :d="'M '+(o.t*200)+' '+(400*(1-o.f))+' L -400 '+(400*(1-(Math.abs(-2-o.t)*o.slopeLeft+o.f)))+' L 800 '+(400*(1-(Math.abs(4-o.t)*o.slopeRight+o.f)))+' Z'"/>

            <path v-if="p.showCones && p.leftLine" :class="{shade: true, highlight: highlight}" :d="'M '+(o.t*200)+' '+(400*(1-o.f))+' L -400 '+(400*(1-((-2-o.t)*o.slopeLeft+o.f)))+' L 800 '+(400*(1-(Math.abs(4-o.t)*o.slopeRight+o.f)))+' Z'"/>

            <path v-if="(p.showRight || highlight) && p.showCones" :class="{shade: true, right: true, highlight: highlight}"
            :d="'M '+(200*((o.rightHeight-o.f)/o.slopeRight+o.t))+' '+(400*(1-o.rightHeight))+' L 800 '+(400*(1-(Math.abs(4-o.t)*o.slopeRight+o.f)))+' L 800 '+(400*(1-o.rightHeight))+' Z'"/>

            <path v-if="(p.showLeft || highlight) && !p.leftLine && p.showCones" :class="{shade: true, left: true, highlight: highlight}"
            :d="'M '+(200*(o.t-(o.leftHeight-o.f)/o.slopeLeft))+' '+(400*(1-o.leftHeight))+' L -400 '+(400*(1-(Math.abs(-2-o.t)*o.slopeLeft+o.f)))+' L -800 '+(400*(1-o.leftHeight))+' Z'"/>
        </g>
    </script>

    <script type="text/x-template" id="tpl-oneline">
        <g>
            <path  v-if="p.showOneLine && highlight" :d="'M 0 '+(400*(1-o.oneLineOffset))+' L 800 '+(400*(1-(4*o.oneLineSlope+o.oneLineOffset)))" stroke="blue" stroke-width="1"/>

            <path  v-if="p.showOneLine && !highlight" :d="'M 0 '+(400*(1-o.oneLineOffset))+' L 800 '+(400*(1-(4*o.oneLineSlope+o.oneLineOffset)))" stroke="black" stroke-width="1"/>
        </g>
    </script>

    <script type="text/x-template" id="tpl-twolines">
        <g>
            <path v-if="p.showTwoLines" :class="{shade: true, highlight: highlight}" :d="'M '+(o.t*200)+' '+(400-400*o.f)+' L -400 '+(400*(1-((-2-o.t)*o.lineSlopeLeft+o.f)))+' L 800  '+(400*(1-((4-o.t)*o.lineSlopeRight+o.f)))+'Z'"/>
        </g>
    </script>

    <div id="app">
        <span>{{dataset}} C={{C}}</span>
        <div class="all"
        @keydown.c="toggle('CONE')"
        @keydown.n="toggle('lipschitz')"
        @keydown.r="toggle('showCones')"
        @keydown.a="toggle('showTwoLines')"
        @keydown.b="toggle('showOneLine')"
        @keydown.l="toggle('showLeft')"
        @keydown.r="toggle('showRight')"
        @keydown.p="toggle('betterPhi')"
        @keydown.m="toggle('betterMmax')"
        @keydown.d="toggle('diffNorm')"
        @keydown.k="toggle('leftLine')"
        @keydown.q="toggle('line')"
        @keydown.o="toggle('opaque')"
        @keydown.shift.80="equation(0)"
        @keydown.shift.78="equation(1)"
        @keydown.shift.67="equation(2)"
        @keydown.shift.65="equation(3)"
        >
        <div class="plotandsets">
            <svg :class="{plot: true, withaxes: true, opaque}" xmlns="http://www.w3.org/2000/svg">

                <g v-for="(o, i) in fullPoints">
                    <one-point v-if="i != currentIndex" :p="me()" :o="o" :i="i" :highlight="i==currentIndex"></one-point>
                </g>
                <g v-for="(o, i) in fullPoints">
                    <one-point v-if="i == currentIndex" :p="me()" :o="o" :i="i" :highlight="i==currentIndex"></one-point>
                </g>

                <g v-for="(o, i) in fullPoints">
                    <one-line v-if="i != currentIndex" :p="me()" :o="o" :i="i" :highlight="i==currentIndex"></one-line>
                </g>

                <g v-for="(o, i) in fullPoints">
                    <one-line v-if="i == currentIndex" :p="me()" :o="o" :i="i" :highlight="i==currentIndex"></one-line>
                </g>

                <g v-for="(o, i) in fullPoints" >
                    <two-lines v-if="i != currentIndex"  :p="me()" :o="o" :i="i" :highlight="i==currentIndex">></two-lines>
                </g>
                <g v-for="(o, i) in fullPoints" >
                    <two-lines v-if="i == currentIndex"  :p="me()" :o="o" :i="i" :highlight="i==currentIndex">></two-lines>
                </g>
                <path class="lowershade" :d="'M 0 400 l 0 '+(-400*bestF)+' l 400 0 L 400 400 Z'"/>
            </svg>
            <div class="sets">
                <a v-for="i in Array.from(Array(nSets).keys())" :class="{currentSet: i==currentSet}"
                href="" @click.prevent="setSet(i)">[{{i}}]</a>
                <a href="" @click.prevent="setSet((currentSet-1+nSets)%nSets)">«</a>
                <a href="" @click.prevent="setSet((currentSet+1)%nSets)">»</a>
            </div>
        </div>
        <div class="controls">
            <br/> P = <input type="number" v-model="P"/>
            <br/> N = <input type="number" v-model="N"/>
            <br/> β = <input type="range" min="0.01" max="5" step="0.01" v-model.number="beta"/> ({{beta}})

            <br/> <label><input type="checkbox" v-model="showCones"/> show Cones</label>
            <br/> <label><input type="checkbox" v-model="showTwoLines"/> show Two Lines</label>
            <br/> <label><input type="checkbox" v-model="showOneLine"/> show One Line</label>
            <br/> <label><input id="focus" type="checkbox" v-model="enhance"/> (c) CONE</label>
            <br/> <label><input type="checkbox" v-model="lipschitz"/> (n) lipschitz</label>
            <br/> <label><input type="checkbox" v-model="diffNorm"/> (d) difference instead of norm2 </label>
            <br/> <label><input type="checkbox" v-model="betterPhi"/> (p) better Φ </label>
            <br/> <label><input type="checkbox" v-model="betterMmax"/> (m) better Mmax </label>
            <br/> <label><input type="checkbox" v-model="leftLine"/> (k) left slope as line</label>
            <br/> <label><input type="checkbox" v-model="showRight"/> (r) <span class="inlinemirror">⇲</span> </label>
            <br/> <label><input type="checkbox" v-model="showLeft"/> (l) ⇲ </label>
            <br/> <label><input type="checkbox" v-model="opaque"/> (o) opaque </label>
            <br/> <label><input type="checkbox" v-model="swapT"/> swap t on load</label>
            <br/> <button @click="equation(0)">(shift+p) Parambath</button>
            <button @click="equation(1)">(shift+n) CONE NIPS</button>
            <button @click="equation(2)">(shift+c) CONE</button>
            <button @click="equation(3)">(shift+a) asym CONE</button>
        </div>

        <div class="details">
            Grid with random:
            <a @click="loadGrid(29)">(29)</a>
            <a @click="loadGrid(19)">(19)</a>
            <a @click="loadGrid(9)">(9)</a>
            <a @click="loadGrid(5)">(5)</a>
            <div class="editpoint" v-for="(p, i) in points" @mouseover="setCurrentIndex(i)">
                t: <input type="range" min="0" max="2" step="0.01" v-model.number="p.t"/> ({{p.t}})
                <br/> FP: <input type="range" min="0" :max="N" step="1" v-model.number="p.fp"/> ({{p.fp}})
                <br/> FN: <input type="range" min="0" :max="P" step="1" v-model.number="p.fn"/> ({{p.fn}})
                <a @click="deletePoint(i)">(delete)</a> F={{fullPoints[i].f}}delete
                ({{fullPoints[i].leftHeight}} -- {{fullPoints[i].rightHeight}})
            </div>
            <a @click="addPoint()">(new)</a>
        </div>
    </div>
</div>

<!-- pointer-events none on the png image -->

<span style="display:none" id="JSON">
    <object data="GRID/adult_fold0/pts_grid_Adult_C0015625.json" onload="startApp()" onerror="errorLoading()" type="text/plain"></object>
    <object data="GRID/adult_fold0/pts_grid_Adult_C003125.json" onload="startApp()" onerror="errorLoading()" type="text/plain"></object>
    <object data="GRID/adult_fold0/pts_grid_Adult_C00625.json" onload="startApp()" onerror="errorLoading()" type="text/plain"></object>
    <object data="GRID/adult_fold0/pts_grid_Adult_C0125.json" onload="startApp()" onerror="errorLoading()" type="text/plain"></object>
    <object data="GRID/adult_fold0/pts_grid_Adult_C025.json" onload="startApp()" onerror="errorLoading()" type="text/plain"></object>
    <object data="GRID/adult_fold0/pts_grid_Adult_C05.json" onload="startApp()" onerror="errorLoading()" type="text/plain"></object>
    <object data="GRID/adult_fold0/pts_grid_Adult_C1.json" onload="startApp()" onerror="errorLoading()" type="text/plain"></object>
    <object data="GRID/adult_fold0/pts_grid_Adult_C2.json" onload="startApp()" onerror="errorLoading()" type="text/plain"></object>
    <object data="GRID/adult_fold0/pts_grid_Adult_C4.json" onload="startApp()" onerror="errorLoading()" type="text/plain"></object>
    <object data="GRID/adult_fold0/pts_grid_Adult_C8.json" onload="startApp()" onerror="errorLoading()" type="text/plain"></object>
    <object data="GRID/adult_fold0/pts_grid_Adult_C16.json" onload="startApp()" onerror="errorLoading()" type="text/plain"></object>
    <object data="GRID/adult_fold0/pts_grid_Adult_C32.json" onload="startApp()" onerror="errorLoading()" type="text/plain"></object>
    <object data="GRID/adult_fold0/pts_grid_Adult_C64.json" onload="startApp()" onerror="errorLoading()" type="text/plain"></object>
</span>

<!-- <span style="display:none" id="JSON">
    <object data="GRID/yeast_fold0/pts_grid_Yeast_C0015625.json" onload="startApp()" onerror="errorLoading()" type="text/plain"></object>
    <object data="GRID/yeast_fold0/pts_grid_Yeast_C003125.json" onload="startApp()" onerror="errorLoading()" type="text/plain"></object>
    <object data="GRID/yeast_fold0/pts_grid_Yeast_C00625.json" onload="startApp()" onerror="errorLoading()" type="text/plain"></object>
    <object data="GRID/yeast_fold0/pts_grid_Yeast_C0125.json" onload="startApp()" onerror="errorLoading()" type="text/plain"></object>
    <object data="GRID/yeast_fold0/pts_grid_Yeast_C025.json" onload="startApp()" onerror="errorLoading()" type="text/plain"></object>
    <object data="GRID/yeast_fold0/pts_grid_Yeast_C05.json" onload="startApp()" onerror="errorLoading()" type="text/plain"></object>
    <object data="GRID/yeast_fold0/pts_grid_Yeast_C1.json" onload="startApp()" onerror="errorLoading()" type="text/plain"></object>
    <object data="GRID/yeast_fold0/pts_grid_Yeast_C2.json" onload="startApp()" onerror="errorLoading()" type="text/plain"></object>
    <object data="GRID/yeast_fold0/pts_grid_Yeast_C4.json" onload="startApp()" onerror="errorLoading()" type="text/plain"></object>
    <object data="GRID/yeast_fold0/pts_grid_Yeast_C8.json" onload="startApp()" onerror="errorLoading()" type="text/plain"></object>
    <object data="GRID/yeast_fold0/pts_grid_Yeast_C16.json" onload="startApp()" onerror="errorLoading()" type="text/plain"></object>
    <object data="GRID/yeast_fold0/pts_grid_Yeast_C32.json" onload="startApp()" onerror="errorLoading()" type="text/plain"></object>
    <object data="GRID/yeast_fold0/pts_grid_Yeast_C64.json" onload="startApp()" onerror="errorLoading()" type="text/plain"></object>
</span> -->

<!-- <span style="display:none" id="JSON">
    <object data="CONE/pts_cone_Pageblocks_C1.json" onload="startApp()" onerror="errorLoading()" type="text/plain"></object>
    <object data="CONE/pts_cone_Pageblocks_C64.json" onload="startApp()" onerror="errorLoading()" type="text/plain"></object>
    <object data="CONE/pts_cone_Yeast_C1024.json" onload="startApp()" onerror="errorLoading()" type="text/plain"></object>
</span> -->

<script>


var myeach = function(coll, cb) {
    [].forEach.call(coll, cb);
};

function l2norm(x, y) {
    return Math.sqrt(x*x + y*y);
}
var inited = false;
function startApp() {

    if (inited) return;

    var loadedInfo = [];
    try {
        let externals = document.querySelectorAll('#JSON>object');
        myeach(externals, (ex) => loadedInfo.push(JSON.parse(ex.contentDocument.body.querySelector('pre').textContent)));
    } catch (e) {
        console.log("Some JSON are not loaded", e);
        return;
    }

    inited = true;
    Vue.component('cone', {
        template: '#tpl-thesvg',
        compiled: function() {
            alert("comp")
            console.log("COMPILED", (this.$el))
        },
        methods: {
        }
    });
    Vue.component('one-point', {
        template: '#tpl-onepoint',
        props: ['o', 'i', 'highlight', 'p']
    });
    Vue.component('one-line', {
        template: '#tpl-oneline',
        props: ['o', 'i', 'highlight', 'p']
    });
    Vue.component('two-lines', {
        template: '#tpl-twolines',
        props: ['o', 'i', 'highlight', 'p']
    });

    window.app = new Vue({
        el: '#app',
        data: {
            currentIndex: -1,
            showCones: true,
            showTwoLines: false,
            showOneLine: false,
            enhance: true,
            diffNorm: true,
            betterPhi: true,
            betterMmax: true,
            lipschitz: false,
            leftLine: false,
            swapT: false,
            showRight: false,
            showLeft: false,
            opaque: false,
            nSets: loadedInfo.length,
            currentSet: 0,
            ...loadedInfo[0]
        },
        created: function() {
            this.setSet(this.currentSet);
        },
        methods: {
            me() { return this; },
            toggleEnhance() { this.enhance = !this.enhance; },
            toggle(what) { this[what] = !this[what]; },
            equation(id) {
                switch(id) {
                    case 0:
                        this.enhance = false;
                        this.diffNorm = false;
                        this.betterPhi = false;
                        this.twoLines = false;
                        this.betterMmax = false;
                        this.lipschitz = false;
                        this.leftLine = false;
                        this.showRight = false;
                        this.showLeft = false;
                        this.showCones = true;
                        this.showTwoLines = false;
                        this.showOneLine = false;
                        break;
                    case 1:
                        this.enhance = true;
                        this.diffNorm = false;
                        this.betterPhi = false;
                        this.twoLines = false;
                        this.betterMmax = false;
                        this.lipschitz = true;
                        this.leftLine = false;
                        this.showCones = true;
                        this.showTwoLines = false;
                        this.showOneLine = false;
                        break;
                    case 2:
                        this.enhance = true;
                        this.diffNorm = true;
                        this.betterPhi = true;
                        this.twoLines = false;
                        this.betterMmax = true;
                        this.lipschitz = false;
                        this.leftLine = false;
                        this.showCones = true;
                        this.showTwoLines = false;
                        this.showOneLine = false;
                        break;
                    case 3:
                        this.enhance = true;
                        this.diffNorm = true;
                        this.betterPhi = true;
                        this.twoLines = false;
                        this.betterMmax = true;
                        this.lipschitz = false;
                        this.leftLine = true;
                        this.showCones = true;
                        this.showTwoLines = false;
                        this.showOneLine = false;
                        break;
                    case 4:
                        this.enhance = true;
                        this.diffNorm = true;
                        this.betterPhi = true;
                        this.twoLines = false;
                        this.betterMmax = true;
                        this.lipschitz = false;
                        this.leftLine = true;
                        this.showCones = true;
                        this.showTwoLines = false;
                        this.showOneLine = false;
                        break;
                    default:
                        this.enhance = false;
                        this.diffNorm = false;
                        this.betterPhi = false;
                        this.twoLines = false;
                        this.betterMmax = false;
                        this.lipschitz = false;
                        this.leftLine = false;
                        this.showCones = true;
                        this.showTwoLines = false;
                        this.showOneLine = false;
                }
            },
            setSet(i) {
                this.currentSet = i;
                console.log(loadedInfo[i])
                for (k in loadedInfo[i]) {
                    console.log(k)
                    this[k] = JSON.parse(JSON.stringify(loadedInfo[i][k]));
                    if (this.swapT && k == "points") {
                        this[k] = this[k].map( (o) => ({...o, t: 2-o.t}) );
                    }
                }
            },
            deletePoint(i) {
                this.points.splice(i, 1);
            },
            addPoint() {
                this.points.push({
                    t: Math.random()*2,
                    fp: parseInt(Math.random()*this.N),
                    fn: parseInt(Math.random()*this.P)
                });
            },
            loadGrid(n) {
                let R = .05;
                this.points = Array.from(Array(n).keys()).map( (i)=>({
                    t: 2*(0.01+i/(n-1)*.99),
                    fp: parseInt((Math.random()*R+R)*this.N),
                    fn: parseInt((Math.random()*R+R)*this.P),
                }));
                this.points = Array.from(Array(n).keys()).map( (i)=>({
                    t: 2*(0.01+i/(n-1)*.99),
                    fp: parseInt((n-i)/(n-1)/3*this.N),
                    fn: parseInt((i)/(n-1)/3*this.P),
                }));
            },
            setCurrentIndex(i) {
                console.log(this.currentIndex, i);
                this.currentIndex = i;
            }
        },
        computed: {
            theirs: function() { return !this.enhance; },
            M: function() {
                return l2norm(this.P, this.N);
            },
            fullPoints: function() {
                return this.points.map( o=> {
                    var b2 = this.beta*this.beta;

                    var normE;
                    if (this.diffNorm) {
                        normE = o.fp - o.fn;
                    } else {
                        normE = l2norm(o.fp, o.fn);
                    }
                    
                    var tp = this.P - o.fn;
                    var tn = this.N - o.fp;
                    var f = (1+b2)*tp / ((1+b2)*this.P - o.fn + o.fp);

                    var normErestricted;
                    {
                        let e1 = o.fn;
                        let e2 = o.fp;

                        if (this.betterMmax) {
                            let a21 = this.N - e2;
                            let a22 = e1*(this.beta*this.beta*this.P + e2) / (this.P - e1);

                            normErestricted = e2 + Math.min(a21, a22);
                        } else {
                            let N1a2 = -e2;
                            let N1a1 = -N1a2*(this.P - e1) / (this.P + e2);
                            let N1n = l2norm(e1 + N1a1, e2 + N1a2);

                            let N2a2 = Math.min(this.N - e2, e1*(this.P + e2) / (this.P - e1));
                            let N2a1 = -N1a2*(this.P - e1) / (this.P + e2);
                            let N2n = l2norm(e1 + N2a1, e2 + N2a2);

                            normErestricted = Math.max(N1n, N2n);
                        }
                    }

                    var phi;
                    if (this.betterPhi) {
                        phi = 1/((1+this.beta*this.beta)*this.P-o.fn+o.fp);
                    } else {
                        phi =  1/(this.beta*this.beta*this.P);
                    }

                    var slopeRight = 0;
                    var slopeLeft = 0;
                    if (this.theirs) {
                        slopeRight = 2 * 2 * this.M * phi;
                        slopeLeft = slopeRight;
                    } else {
                        slopeRight = (normE+normErestricted) * phi;

                        if (this.leftLine) {
                            slopeLeft = (normE-normErestricted) * phi;
                        } else {
                            slopeLeft = slopeRight;
                        }

                        if (this.lipschitz) {
                            slopeRight *= Math.sqrt(2)
                            slopeLeft *= Math.sqrt(2)
                        }
                    }

                    let mmin = -o.fn - o.fp*(this.P - o.fn)/(this.beta*this.beta*this.P + o.fp);
                    var lineSlopeRight = (o.fp - o.fn - mmin)*phi;
                    var lineSlopeLeft = (o.fp - o.fn - normErestricted)*phi;

                    var oneLineSlope = (o.fp - o.fn)*phi;
                    var oneLineOffset = (1 + this.beta*this.beta)*o.fn*phi + f;

                    var rightHeight = (1+b2) * (this.P - o.fn + o.fp) / ((1+b2) * this.P - o.fn + o.fp);
                    if (o.fn - o.fp < 0) rightHeight = 2;

                    var leftHeight = (1+b2) * this.P / ((1+b2) * this.P + o.fp - o.fn);
                    if (o.fp - o.fn < 0) leftHeight = 2;

                    var res = {...o, tp, tn, f, slopeRight, slopeLeft, rightHeight, leftHeight, 
                               lineSlopeRight, lineSlopeLeft, oneLineSlope, oneLineOffset};
                    console.log(res);
                    return res;
                });
            },
            bestF: function() {
                return Math.max.apply(Math, this.fullPoints.map(o=>o.f));
            },
        },
    });
    //app.loadGrid(19);
    document.getElementById('focus').focus();
}
//startApp();
</script>

</body>
</html>
