<!doctype html>
<html>
  <head>
      <script src="../lib/numeric-1.2.6.min.js"></script>
      <script src="../lib/vue.min.js"></script>

  <style>
      #chart { width: 800px; height: 600px; outline: 2px solid blue;}
      #chart { position: relative; }

      #chart>* {position: absolute; }

      #side { height: 100px; width: 500px; transform-origin: 0 0;
            transform: translate(100px, 0px) rotate(90deg); left:0; top:0; outline: 1px dashed green; }
      #bottom { width: 700px; height: 100px; right:0; bottom:0; outline: 1px dashed pink;}
      #main { width: 700px; height: 500px; right:0; top:0; outline: 1px solid yellow;}
      #g2d {width: 400px; display: inline;}

      /*...component...*/

.marginal {
    stroke: blue;
}
.marginal text {
    stroke: none;
    fill: blue;
}
.conditional {
    stroke: black;
    stroke-dasharray: 8, 4;
}
.conditional text {
    stroke: none;
    fill: black;
}
.proba {
    fill: none;
    stroke-width: 2;
}
.mark {
    stroke-width: 1;
}
.thegaussian * {
    stroke: darkgreen;
}
NOsvg {outline: 10px solid #EEE;}


  </style>



  </head>
  <body>
      <!--script> if (typeof document.body.createShadowRoot === 'undefined') alert('createShadowRoot not found. Did you enable webcomponents?') </script-->

      <div id="g2d">
      <gauss-2d id="gg" :cxx="cxx" :cyy="cyy" :cxy="-cxy" :constx="constx" :consty="consty">will change</gauss-2d>

      <div style="float:right; font-size: 70%">
    <br/> <input type="range" min="0" max="1000" v-model="cxx"/> c11 = {{cxx}}
    <br/> <input type="range" min="0" max="1000" v-model="cyy"/> c22 = {{cyy}}
    <br/> <input type="range" min="-1000" max="1000" v-model="cxy"/> c12 = {{cxy}}
    <br/> <input type="range" min="-100" max="100" v-model="constx"/> y1 = {{constx}}
    <br/> <input type="range" min="-100" max="100" v-model="consty"/> y2 = {{consty}}
      </div>
    </div>




<script type="text/x-template" id="tpl-gauss2d">
    <svg width="400px" height="400px" viewBox="-200 -200 400 400" style="display: inline">
    <g :transform="rotate" class="thegaussian">
        <ellipse cx="0" cy="0" :rx="sx" :ry="sy" fill="none" stroke-width="2" ></ellipse>
        <ellipse cx="0" cy="0" :rx="2*sx" :ry="2*sy" fill="none" stroke-width="2" ></ellipse>
        <ellipse cx="0" cy="0" :rx="3*sx" :ry="3*sy" fill="none" stroke-width="2" ></ellipse>
        <line x1="0" x2="0" :y1="-3*sy" :y2="3*sy" fill="none" stroke-width="2" ></line>
        <line y1="0" y2="0" :x1="-3*sx" :x2="3*sx" fill="none" stroke-width="1" ></line>
    </g>

    <g class="marginal" transform="rotate(90) translate(0, 195)">
        <text font-size="14" text-anchor="middle">p( Y2 )</text>
    </g>
    <g class="marginal proba" transform="translate(0, 190) scale(1, -1)">
        <path :d="pathMarginalX" />
    </g>
    <g class="marginal" transform="translate(0, 195)">
        <text font-size="14" text-anchor="middle">p( Y1 )</text>
    </g>
    <g class="marginal proba" transform="translate(-190, 0)">
        <path :d="pathMarginalY" />
    </g>

    <g class="conditional mark" transform="scale(1, -1)">
        <line :y1="consty" :y2="consty" x1="-100" x2="100"></line>
        <line :x1="constx" :x2="constx" y1="-100" y2="100"></line>
    </g>
    <g class="conditional" transform="translate(0, -185)">
        <text font-size="14" text-anchor="middle">p( Y1 | Y2=y2 )</text>
    </g>
    <g class="conditional proba" transform="translate(0, -110) scale(-1, -1)">
        <path :d="pathConditionalXGivenY" />
    </g>
    <g class="conditional" transform="rotate(90) translate(0, -185)">
        <text font-size="14" text-anchor="middle">p( Y2 | Y1=y1 )</text>
    </g>
    <g class="conditional proba" transform="translate(110, 0)">
        <path :d="pathConditionalYGivenX" />
    </g>
    </svg>
</script>

    <script>
var myeach = function(coll, cb) {
    [].forEach.call(coll, cb);
};
var normalPDF = function(xminusmu, sigma) { // 0 centered
    return 1000* Math.exp( - xminusmu*xminusmu / (2*sigma*sigma)) / (sigma * 2 * Math.sqrt(Math.PI));
};

Vue.component('gauss-2d', {
  template: '#tpl-gauss2d',
  props: ['cxx', 'cyy', 'cxy', 'constx', 'consty'],
  data: ()=> ({
    marginalScale: 2.5,
    conditionalScale: 2.5,
  }),
  computed: {
    rho() { return this.cxy / Math.sqrt(this.cxx * this.cyy) },
    eig() {
      var eig = numeric.eig([[this.cxx, this.cxy], [this.cxy, this.cyy]]);
      if (eig.lambda.x[1] > eig.lambda.x[0]) {
        swap(eig.lambda.x, 0, 1);
        swap(eig.E.x, 0, 1);
      }
      return eig;
    },
    sx() { return Math.sqrt(this.eig.lambda.x[1]) },
    sy() { return Math.sqrt(this.eig.lambda.x[0]) },
    angle() {
      var v = this.eig.E.x[0];
      return 90 - 1 * Math.atan2(v[1], v[0])/Math.PI*180;
    },
    rotate() { return 'rotate('+this.angle+')' },
    //b() { return ; },
    pathMarginalX() {
      var stdX = Math.sqrt(this.cxx);
      var points = numeric.linspace(-100, 100, 100+1);
      points = points.map( (x) => {
        var y = normalPDF(x, stdX) * this.marginalScale;
        return x + " " + y;
      });
      return "M " + points.join(" L ");
    },
    pathMarginalY() {
      var stdY = Math.sqrt(this.cyy);
      var points = numeric.linspace(-100, 100, 100+1);
      points = points.map( (y) => {
        var x = normalPDF(y, stdY) * this.marginalScale;
        return x + " " + y;
      });
      return "M " + points.join(" L ");
    },
    pathConditionalXGivenY() {
      var deltaX = this.cxy / this.cyy * this.consty;
      var stdX = Math.sqrt(this.cxx - this.cxy/this.cyy*this.cxy);
      var points = numeric.linspace(-100, 100, 100+1);
      points = points.map((x) => {
        var y = normalPDF(x - deltaX, stdX) * this.conditionalScale;
        return x + " " + y;
      });
      return "M " + points.join(" L ");
    },
    pathConditionalYGivenX() {
      var deltaY = this.cxy / this.cxx * this.constx;
      var stdY = Math.sqrt(this.cyy - this.cxy/this.cxx*this.cxy);
      var points = numeric.linspace(-100, 100, 100+1);
      points = points.map((y) => {
        var x = normalPDF(y - deltaY, stdY) * this.conditionalScale;
        return x + " " + y;
      });
      return "M " + points.join(" L ");
    },
  }
});

var app = new Vue({
  el: '#g2d',
  data: ()=> ({
    cxx: 1000,
    cyy: 300,
    cxy: -500,
    constx: 0,
    consty: 0,
  })
});

    </script>







  </body>
</html>
