<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Dirichlet Distribution (Interactive)</title>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://unpkg.com/vue-i18n@next"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
  <style>
      #main>svg {
          width: 100vw;
          height: 100vh;
      }
      html {
          overflow: hidden;
      }
      .offscreen {
          /**/
          display: none;
          /*/
          width: 100px;
          border: 1px solid red;
          /**/
      }
      .controls {
          padding: 1em;
          background: white;
          position: absolute;
          border-radius: 1em;
          top: 0;
          left: 0;
          width: 30%;
          opacity: 0.35;
      }
      .controls:hover {
          opacity: 1;
      }
      .useless {
          color: grey;
      }
      .bg {
          fill: black;
      }
      .crisp {
          image-rendering: pixelated;
          image-rendering: crisp-edges;
      }
      .describe {
          display: block;
          position: relative;
          height: 0;
          font-size: 50%;
          font-family: sans-serif;
          font-weight: bold;
          color: darkgray;
      }
  </style>
</head>
<body>

    <div id="main" >

        <div class="controls">
            <div v-if="generalized">GDD(<f2 n="α1"></f2>, <f2 n="α2"></f2>, <f2 n="b1"></f2>, <f2 n="b2"></f2>)</div>
            <div v-else>Dir(<f2 n="α1"></f2>, <f2 n="α2"></f2>, <f2 n="α3"></f2>)</div>
            <span class="describe">α1 (top)</span>
            <input type="range" min="0.5" max="10" step="0.01" v-model.number="α1"/>
            <span class="describe">α2 (left)</span>
            <input type="range" min="0.5" max="10" step="0.01" v-model.number="α2"/>
            <span class="describe">α3 (right)</span>
            <input type="range" min="0.5" max="10" step="0.01" v-model.number="α3" :disabled="generalized"/>
            <div>all together</div>
            <span class="describe">same range as above</span>
            <input type="range" min="0.5" max="10" step="0.01" v-model.number="allαs" />
            <span class="describe">small values</span>
            <input type="range" min="0.5" max="1.5" step="0.01" v-model.number="allαs" />
            <span class="describe">huge values (log scale)</span>
            <input type="range" :min="Math.log(0.5)" :max="Math.log(1001)" step=".1" v-model.number="logallαs"/>
            <span class="describe">control magnitude</span>
            <input type="range" min="0.5" max="100" step="0.01" v-model.number="normallαs" />
            <!--
            <label>
                <input type="checkbox" v-model="logView"/>
                <span class="checkable">view logdensity</span>
            </label>
            <label>
                <input type="checkbox" v-model="logCompute"/>
                <span class="checkable">compute in log space</span>
            </label>
            -->
            <hr/>
            <label>
                <input type="checkbox" v-model="generalized"/>
                <span class="checkable">view generalized Dirichlet distribution</span>
            </label>
            <input type="range" min="0.5" max="100" step="0.01" v-model.number="b1" :disabled="!generalized"/>
            <input type="range" min="0.5" max="100" step="0.01" v-model.number="b2" :disabled="!generalized"/>
        </div>
        
        <canvas ref="canvas" class="offscreen" :width="side" :height="side"></canvas>
        <svg viewBox="0 0 800 700">
            <defs>
                <clipPath
                    clipPathUnits="userSpaceOnUse"
                    id="triangleClip">
                    <path
                        style="fill:none;stroke:#000000;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                        d="M 54,800 746,800 400,0 Z"/>
                </clipPath>
            </defs>
            <rect x="10" y="10" width="780" height="680" class="bg"></rect>

            <!--
            <rect x="100" y="100" width="100" height="100" style="fill: pink;"></rect>
            <image :x="-50" :y="-50" :width="100" :height="100" opacity=".5" :transform="`translate(150, 150) scale(${side/(side-1)*.866},${side/(side-1)})`" class="crisp" :xlink:href="imgUrl"></image>
                    <path transform="translate(100, 100) scale(.125, .125)"
                        style="fill:none;stroke:#000000;stroke-width:1.264583px;stroke-opacity:1"
                        d="M 54,800 746,800 400,0 Z" />
                        -->

            <g transform="translate(400, 340) scale(0.75, 0.75) translate(-400, -340)">
                <g clip-path="url(#triangleClip)">
                    <image ref="image" :transform="imgTransform" :x="-800/2" :y="-800/2" :width="800" :height="800" :xlink:href="imgUrl"></image> <!-- (3/4)**0.5 * 800 -->
                </g>
            </g>
        </svg>
        {{ /*output*/ }}
    </div>
  </div>


  <script>
      f2 = {
          props: ['n'],
          template: '<span @click="$parent.promptSetFloat(n)">{{$parent[n].toFixed(2)}}</span>'
      }
      app = Vue.createApp({
          components: {
              f2
          },
          data: () => ({
              mounted: false,
              α1: 2.0,
              α2: 2.0,
              α3: 1.0,
              allαs: 3.0,
              generalized: false,
              b1: 4.0,
              b2: 1.0,
              side: 100+1,
              logView: false,
              logCompute: true,
              //imgUrl: 'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.Pnj809C0kcPwECauNlpaHAHaGY%26pid%3DApi&f=1',
          }),
          mounted() {
              window.vm = this
              this.mounted = true
              //window.setTimeout(() => { this.allαs = .75 ; this.generalized = false }, 200)
          },
          watch: {
              allαs(v) {
                  this.α1 =this.α2 =this.α3 = v
              },
              generalized(v) {
                  if (v) {
                      this.b2 = this.α3
                      this.b1 = this.α2 + this.b2
                  }
              },
              /*
              slice_expr(v) {
              },*/
          },
          methods: {
            promptSetFloat(name) {
                let v = window.prompt(name, this[name])
                if (v !== null) {
                    v = parseFloat(v)
                    if (!isNaN(v)) {
                        this[name] = v
                    }
                }
            }
          },
          computed:  {
              imgTransform() {
                  // already 0-centered using x and y
                  // already 800x800 using width and height
                  if (!this.mounted) return ""
                  let side = this.side
                  return `translate(400, 400) scale(${0.866 * side/(side-1)}, ${side/(side-1)})`
              },
              logallαs: {
                  get() {
                      return Math.log(this.allαs)
                  },
                  set(v) {
                      this.allαs = Math.exp(v)
                  },
              },
              normallαs: {
                  get() {
                      return this.α1 + this.α2 + this.α3
                  },
                  set(v) {
                      let r = v / this.normallαs
                      this.α1 *= r
                      this.α2 *= r
                      this.α3 *= r
                  },
              },
              imgUrl() {
                  /*
                  logSumExp = (u, v) => {
                      const ma = Math.max(u, v)
                      return ma + Math.log(Math.exp(u - ma) + Math.exp(v - ma))
                  }
                  logSumExp3 = (u, v, w) => {
                      const ma = Math.max(u, v, w)
                      return ma + Math.log(Math.exp(u - ma) + Math.exp(v - ma) + Math.exp(w - ma))
                  }
                  //logSumExp3 = (u, v, w) => logSumExp(logSumExp(u, v), w)
                  */
                  if (!this.mounted) return ""
                  const canvas = this.$refs.canvas
                  const ctx = canvas.getContext('2d')
                  const w = this.side//canvas.width
                  const h = this.side//canvas.height
                  ctx.clearRect(0, 0, w, h);
                  const array = new Float32Array(w*h)
                  let min = 1/0
                  let max = -1/0
                  let doubleLoop = (f) => {
                        for (let i = 0; i < h; i++) {
                          let hs = parseInt((1 + i) / 2)
                          let p1 = 1 - i / (h-1)
                          let mid = (w - 1) / 2
                          let start = mid - hs
                          let end = mid + hs
                          for (let j = start; j <= end; j++) {
                              let ind = i * w + j
                              let p2, p3
                              // encourage nice border and corner views
                              if (p1 == 1) {
                                  p3 = p2 = 0
                              } else if (j > mid) {
                                  p2 = Math.min(1, Math.max(0, (1 - p1) * (end - j) / (2 * hs)))
                                  p3 = 1 - p1 - p2
                              } else {
                                  p3 = Math.min(1, Math.max(0, (1 - p1) * (j - start) / (2 * hs)))
                                  p2 = 1 - p1 - p3
                              }
                              f(ind, {i,j,hs,p1,p2,p3})
                          }
                      }
                  }
                  // TODO 4 double loops (test for perf)
                  doubleLoop( (ind, {p1, p2, p3}) => {
                      let v = 0
                      if (this.logCompute) {
                          let ε = 0.000001
                          //v = Math.pow(p1, this.α1-1) * Math.pow(p2, this.α2-1) * Math.pow(p3, this.α3-1)
                          if (this.generalized) {
                              v = Math.log(p1 + ε) * (this.α1 - 1) + Math.log(p2 + ε) * (this.α2 - 1) + Math.log(p3 + ε) * (this.b2 - 1) + Math.log(p2 + p3 + ε) * (this.b1 - (this.α2 + this.b2))
                          } else {
                              v = Math.log(p1 + ε) * (this.α1 - 1) + Math.log(p2 + ε) * (this.α2 - 1) + Math.log(p3 + ε) * (this.α3 - 1)
                          }
                      } else {
                          if (this.generalized) {
                              v = Math.pow(p1, this.α1 - 1) * Math.pow(p2, this.α2 - 1) * Math.pow(p3, this.b2 - 1) * Math.pow(p2 + p3, this.b1 - (this.α2 + this.b2))
                          } else {
                              v = Math.pow(p1, this.α1 - 1) * Math.pow(p2, this.α2 - 1) * Math.pow(p3, this.α3 - 1)
                          }
                      }
                      array[ind] = v
                      max = Math.max(max, v)
                      min = Math.min(min, v)
                  })
                  console.log(min, max)
                  if (this.logCompute && !this.logView) {
                      doubleLoop( ind => {
                          array[ind] = Math.exp(array[ind] - max)
                      })
                      min = 0
                      max = 1
                      console.log(min, max, "after")
                  }
                  // TODO fix or remove
                  if (this.logView) {
                      if (!this.logCompute) {
                          let logadd = 1
                          let logmul = 1
                          let logorigin = max/6
                          doubleLoop( ind => {
                              let v = array[ind]
                              array[ind] = Math.log(logadd + logmul * Math.max(0, v - logorigin) / (max - logorigin))
                          })
                          min = Math.log(logadd)
                          max = Math.log(logadd+logmul)
                      } else {
                      }
                  } else {
                      min = 0
                  }
                  const imdata = new ImageData(w, h)
                  const data = imdata.data
                  //let ctx = this.$refs.canvas.getContext('2d')
                  //ctx.fillStyle = 'green'
                  //ctx.fillRect(10, 10, 800, 500)
                  doubleLoop( ind => {
                      let v = (array[ind] - min) / (max - min) * 255
                      v = Math.pow(v / 255, 1) * 255
                      ind *= 4
                      data[ind + 0] = parseInt(v)
                      data[ind + 1] = parseInt(v)
                      data[ind + 2] = parseInt(128-v/4)
                      data[ind + 3] = 255

                  })
                  ctx.putImageData(imdata, 0, 0)
                  return canvas.toDataURL()
              },
          }
      })
      const messages = {
          en: {
              message: {
                  intro: 'This page helps experimenting to understand Python list slicing.',
                  inputExpr: 'Enter a list expression:',
                  sliceExpr: 'Now, enter a slice expression:',
              },
              word: {
                  input: 'Input',
                  output: 'Output, after running {expr}',
                  afterRunning: 'after running',
                  indices: 'Indices',
                  values: 'Values',
                  negIndices: 'Negative Indices',
              },
          },
          fr: {
              message: {
                  intro: 'Cette page aide à experimenter pour comprendre les "tranches" de liste en Python.',
                  inputExpr: 'Entrez une expression de liste :',
                  sliceExpr: 'Maintenant, entrez une expression de tranche :',
              },
              word: {
                  input: 'Entrée',
                  output: "Sortie",
                  afterRunning: "après l'execution de",
                  indices: 'Indices',
                  values: 'Valeurs',
                  negIndices: 'Indices Négatifs',
              },
          }
      }
      let loc = navigator.language || navigator.userLanguage
      app.use(VueI18n.createI18n({
          locale: loc,
          fallbackLocale: 'en',
          messages
      }))
      app.mount('#main')
  </script>
</body>
</html>
